<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ApplicationConfiguration" type="Raven.SystemFramework.ApplicationConfiguration, Raven.SystemFramework" />
    <section name="HisConfiguration" type="Raven.Common.HisConfiguration, Raven.Common" />
  </configSections>

  <connectionStrings>
    <add name="Raven.Pos.Sales.Properties.Settings.DBConnectionSetting"
      connectionString="Data Source=.\sqlsvr2008;Initial Catalog=POS;Persist Security Info=True;User ID=sa;Password=p455w0rd."
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <HisConfiguration>
    <add key="Raven.DataAccess.ConnectionString" value="server=.\SQLSVR2008;uid=sa;pwd=p455w0rd.;database=POS;application name=POS" />
  </HisConfiguration>
</configuration>